<html>
<head>
    <title>Tennis Analys</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>

        <h1 class="center">Лайв матчи</h1>
    </header>
    <div>
        <table>
            <tr class="shr">
                <td width="30">№</td>
                <td width="150">Лига</td>
                <td width="300">Матч</td>
                <td width="80">Счет</td>
                <td width="50">П1М</td>
                <td width="50">П2М</td>
                <td width="50">П1С</td>
                <td width="50">П2С</td>
                <td></td>
            </tr>

            @foreach (var b in ViewBag.Result)
            {
                
            <tr>
                <td><p>1</p></td>
                <td><p>@b.Liga</p></td>
                <td><p>@b.Match</p></td>
                <td><p>@b.Score</p></td>
                <td><p>@b.P1M</p></td>
                <td><p>@b.P2M</p></td>
                <td><p>@b.P1S</p></td>
                <td><p>@b.P2S</p></td>
            </tr>
            }
        </table>
    </div>
</body>
</html>

